*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmcQLyakbjZNrtnIQP-vfzmsUveY-jzbvnecLyuUcsyr6ThX83lcPodPc&s=10');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment:fixed;
  color: rgba(245, 244, 245, 0.897)
}
.bg-overlay{
  position:absolute;
  background: black;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: -1;
}